* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*ボーダーやパディングが要素の幅に含まれるようにする*/
    justify-content: center; 
  }

  

  header {
    position: fixed;
    background-color: #333; /*ヘッダーの背景色設定*/
    color: white; /*テキスト色設定*/
    width: 100%; /*横幅設定*/
    padding: 1em; /*パディング(要素内の空白)設定　1em　→要素のフォントサイズと同じ　相対的な値　2em→2倍のフォントサイズ*/
    z-index: 1;
  
  }

  nav ul {
    list-style: none; /*リストの前に出るマーカーを消す*/
    text-align: right; /*ul部分を右寄せ*/
  }
  
  nav ul li {
    display: inline; /*リスト項目を横並びにする*/
    margin-right: 40px; /*右余白を20pxにする。*/
  }
  
  nav ul li a {
    color: white;
    text-decoration: none; /*リンクの下線を消す。*/
    padding:50px; /*aタグ同士の余白調整*/
  }

  .hero-image-container {
    display: flex;
    flex-direction: column;  /* 縦列に並べる */
    align-items: center;     /* 横方向を中央寄せ */
    justify-content: center; 
    padding-top: 60px;
    width: 100vw;
    height: 100vh;
  }
  
  .hero-image-container h1 {
    font-size: 5em;
    position: relative;
    color: white;
    text-align: center;  
  }

  .hero-image-container h5{
    font-size: 2em;
  }

  scrollUpButton {
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
     
  }
 
  .scrollDownButton {
    margin-top: 30px;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: rgb(131, 216, 218);
    border: none;
    border-radius: 50%; /* 丸型にする */
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s; /* 色の変更を滑らかに */
    border: 3px solid white;  /* 3pxの白いボーダー */
    display: flex;  /* flexboxを使う */
    align-items: center;  /* 縦方向の中央に */
    justify-content: center;  
    animation: upDown 1.5s infinite alternate ease-in-out;
    
  }
  
  .arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
  }

  .scrollDownButton:hover {
    background-color: #459c93; /* マウスオーバー時の背景色 */
  }

  .hero-image-container{
    background-color: rgb(131, 216, 218);
  }

  .profile-container {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;  /* 縦列に並べる */
    align-items: center;     /* 横方向を中央寄せ */
    justify-content: center; 
    animation: fadeIn 2s ease-in-out;
  }

  @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

  @keyframes upDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(10px);
    }
  }
  
  .hero-image-container h1 {
    transform: translateX(-100%);
    animation: slideInleft 2s forwards;
  }
  
  @keyframes slideInleft {
    to {
      transform: translateX(0);
    }
  }

  .hero-image-container h5 {
  transform: translateX(200%);
    animation: slideInleft 2s forwards;
  }
  
  @keyframes slideInleft {
    to {
      transform: translateX(0);
    }
  }

  .profile-container h1{
    font-size: 5em;
    position: relative;
    text-align: center;
  }

  .profile-container p{
    margin-top:30px;
    text-align: center;
  }

  .works-container h1{
    font-size: 5em;
    position: relative;
    text-align: center;
  }

  .works-container p{
    margin-top:30px;
    text-align: center;
    margin-bottom: 20vh;
  }

  .works-container {
    justify-content: center;
    padding-top: 5vh;
    height: 150vh;
    position: relative;
  }
  
  .works-container .scrollDownButton {
    position: absolute; /* 画面に固定 */
    bottom: 0; /* 縦の中央に位置するように設定 */
    left: 47%; /* 横の中央に位置するように設定 */
    transform: translate(-50%, 50%); /* トランスフォームを使って完全に中央に配置 */
    z-index: 0; /* 他の要素よりも前面に表示 */
}


  .button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .button-grid img {
    object-fit: cover; /* コンテナの高さを設定 */
    overflow: hidden; /* コンテナの外に出た部分を隠す */
    transition: transform 0.3s, box-shadow 0.3s; /*トランジション追加*/
  }

  .button-grid img:hover {
    transform: scale(1.05); /* 追加: サイズを少し大きくする */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 追加: 影を付ける */
}

  .button-item{
    text-align: center;
  }


  .modal {
    display: none;
    position: fixed;
    flex-direction: row; /* 子要素を横に並べる */
    justify-content: center; /* 横方向の中央に配置 */
    align-items: center;
    width: 90%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    margin-top: 5vh;
    z-index: 1;
    opacity: 0; /* 初期状態: 透明 */
    visibility: hidden; /* 初期状態: 非表示 */
    transition: opacity 0.6s, visibility 0.6s; /* トランジション効果 */
  }

  .modal h1 {
    font-size: 48px;
  }

  .modal.active {
    display: flex;
    margin-top: 5vh;
    opacity: 1; /* アクティブ状態: 完全に表示 */
    visibility: visible; /* アクティブ状態: 表示 */
    transition: opacity 0.3s, visibility 0s; /* visibility トランジションの遅延を削除 */
  }

  .left-contents {
    width:50%;
    text-align: center;
    margin-top: 15vh;
  }
  .right-contents {
    width:50%;
    text-align: center;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* 黒の半透明 */
    z-index: 1; /* z-indexをモーダルより低く設定 */
  }
  
  .modal-button{
    background-color: white;
    border: none;
  }

  .modal-button img {
    width: 35vw;  /* コンテナの幅を設定 */
    height: 30vh; /* コンテナの高さを設定 */
    overflow: hidden;
    cursor: pointer;
    object-fit: cover;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);  /* x-offset, y-offset, blur, color */
  }

  .close-button {
    position: absolute;
    color:white;
    bottom: 20px;
    top:10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: rgb(131, 214, 159);
    border: 3px;
    border-radius: 50%; /* 丸型にする */
    font-size: 40px;
    cursor: pointer;
    transition: background-color 0.3s; /* 色の変更を滑らかに */
    border: 3px solid white;  /* 3pxの白いボーダー */
    display: flex;  /* flexboxを使う */
    align-items: center;  /* 縦方向の中央に */
    justify-content: center;  
    z-index: 10;  /* z-indexを高くして最前面に */
  }
  
  .close-button:hover {
    background-color: #459c93; /* マウスオーバー時の背景色 */
  }
  
  .thumbnail {
    cursor: pointer;
    margin: 5px;
    width:8vw;
    height:8vh;
  }

  .thumbnail img {
    width: 15vw;
    height: 15vh;
    object-fit: cover;
  }

  .preview  {
    width: 100%;
    height: 50vh;
    max-height: 100%;
    overflow-y:auto;
  }

  .preview .previewImage {
    max-width: 100%; /* 画像の最大幅を親要素の100%に設定 */
    height: auto; /* 高さを自動にしてアスペクト比を保持 */
}

@keyframes modalFadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


/* スキル、資格のコンテナ */
.skill-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
}

.skill-text {
  padding-top: 20vh;
}
.skill-text h1{
  font-size: 5em;
  position: relative;
  text-align: center;
}

.skill-text p{
  margin-top:15px;
  text-align: center;
}


/* カードセクション */
.card-section {
  width: 45%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

skill-section {
  width: 45%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

qualification-section {
  width: 45%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

/* カード */
.card {
  text-align: center;
  border-radius: 12px;
  padding: 15px;
  margin: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transform: translateY(0);
  transition: transform 0.6s ease, box-shadow 0.6s ease;
}

/* ホバー時のアニメーション */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}

/* アイコン */
.card i {
  font-size: 2em;
  margin-bottom: 15px;
  color: #4CAF50;
}

/* タイトル */
.card h3 {
  margin-top: 10px;
  color: #333;
}

/* タイトルの下の線 */
.card-section h2 {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.card-section h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #4CAF50;
}

/*詳細表示*/
.detail {
  display: none; /* デフォルトでは非表示 */
  font-size: 14px;
  color: #666;
}

.skill-card:hover .detail {
  display: block; /* マウスオーバー時に表示 */
}

.skill-card::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 10px;
  visibility: hidden;
}
  
.skill-container #skill{

}
footer {
  background-color: #f8f9fa;
  padding: 20px 0;
}

.footer-content {
  text-align: center;
}

.footer-content p {
  margin: 0;
  font-size: 14px;
  color: #6c757d;
}

.social-media {
  margin-top: 10px;
}

.social-media a {
  margin: 0 10px;
  color: #6c757d;
  font-size: 20px;
  text-decoration: none;
}

.social-media a:hover {
  color: #343a40;
}
